$yellow: #fffb2a;
$green: #0aff80;
$red: #fe7066;
$blue: #33a2ff;
$pink: #ff5070;
$body-color: #fff;
$heading-font-size: 5rem;
$root-font-size: 20px;
$font-stack: 'Pacifico', cursive, sans-serif;
$subheading-font: 'Shadows Into Light', cursive;


// MENU VARIABLES
$menu-header-font: 'Lobster', 'Pacifico', cursive;
$category-title-color: $red;
$category-item-color: $green;
$item-font-stack: 'Muli', Tahoma, Arial, sans-serif;