$yellow: #fffb2a;
$green: #0aff80;
$red: #fe7066;
$blue: #33a2ff;
$pink: #ff5070;
$body-color: $yellow;
$linear-gradient: linear-gradient(90deg, $red 25%, $blue 50%, $green, 75%, $yellow 100%);
$heading-font-size: 5rem;
$root-font-size: 20px;
$font-stack: 'Pacifico', cursive, sans-serif;
$message-font: 'Shadows Into Light', cursive;


// MENU VARIABLES
$subheading-font-stack: 'Lobster', 'Pacifico', cursive;
$item-font-stack: 'Muli', Tahoma, Arial, sans-serif;