@import 'variables';

@mixin img-shadow($color) {
  img {
    box-shadow: 1.5rem 1.3rem $color;
  } 
}

@mixin bg-strip($degree, $firstPercentage, $secondPercentage, $color) {
  background-image: -moz-linear-gradient($degree, transparent $firstPercentage, $color $firstPercentage, $color $secondPercentage, transparent $secondPercentage);
  background-image: -o-linear-gradient($degree, transparent $firstPercentage, $color $firstPercentage, $color $secondPercentage, transparent $secondPercentage);
  background-image: -webkit-linear-gradient($degree, transparent $firstPercentage, $color $firstPercentage, $color $secondPercentage, transparent $secondPercentage);
  background-image: linear-gradient($degree, transparent $firstPercentage, $color $firstPercentage, $color $secondPercentage, transparent $secondPercentage);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root, html {
  font-size: $root-font-size;
  font-family: $font-stack;

  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
  overflow: hidden;
}

.hero {
  grid-row: 1 / 2;
  grid-column: 1 / 10;
  text-align: center;
  padding: 2rem;
  
  h1 {
    font-size: $heading-font-size;
    color: $red;
    margin: 0 auto;

    a {
      color: $red;
      text-decoration: none;

      &:visited, &:focus {
        color: $red;
      }

      &:hover {
        color: black;
      }
    }
  }
}

.nav {
  color: $red;

  a {
    font-size: 1.8rem;
    color: $blue;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: border 250ms ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      overflow: hidden;
      height: 100%;
      z-index: -1;
      border-bottom: 5px solid $blue;
      transition: all 500ms ease;
    }

    &:hover {
      & {
        color: black;
      }
      &::after {
        width: 100%;
      }
    }
  }
}

%cake {
  align-self: center;
  justify-self: center;
  width: auto;
  max-height: 100%;
  transition: transform 300ms ease-in-out;

  img {
    width: 100%;
    height: 100%;
    transition: box-shadow 250ms ease;
  }

  &:hover {
    img {
      box-shadow: none;
    }
    transform: scale(1.5) rotate(0);
  }
}

.cake-1 {
  @extend %cake;
  grid-area: 1 / 10 / 2 / 12;
  transform: rotate(20deg);
  @include img-shadow($green);
}

.cupcake-1 {
  @extend %cake;
  grid-area: 2 / 2 / 3 / 5;
  transform: rotate(-10deg);
  @include img-shadow($pink);
}

.cupcake-2 {
  @extend %cake;
  grid-area: 2/10/4/12;
  align-self: center;
  transform: rotate(10deg);
  @include img-shadow($pink);
}

.macaroon {
  @extend %cake;
  grid-area: 4 / 2 / 5 / 6;
  transform: rotate(-10deg);
  @include img-shadow($red);
}

.cinnamon-rolls {
  @extend %cake;
  grid-area: 4 / 9 / 6 / 11;
  transform: rotate(10deg);
  @include img-shadow($blue);
}

%subheading {
  margin: 2rem;
  padding: 1rem;
  font-size: 2.4rem;
  align-self: center;
  text-align: center;
  font-family: $subheading-font;
}

.subheading-1 {
  @extend %subheading;
  color: $red;
  transform: rotate(5deg);
  grid-area: 2 / 6 / 3 / 12;
}

.subheading-2 {
  @extend %subheading;
  transform: rotate(-10deg);
  color: $blue;
  grid-area: 3 / 2 / 4 / 6;
}

.subheading-3 {
  @extend %subheading;
  grid-area: 3 / 7 / 4 / 10;
  transform: rotate(15deg);
  color: $blue;
}

%bg {
  z-index: -10;
  background-color: transparent;
}

// .bg-1 {
//   @extend %bg;
//   grid-area: 1 / 1 / 3 / 13;
//   @include bg-strip(-5deg, 50%, 70%, $blue);
// }

// .bg-2 {
//   @extend %bg;
//   grid-area: 2 / 1 / 4 / 13;
//   @include bg-strip(5deg, 40%, 55%, $red);
// }

// .bg-3 {
//   @extend %bg;
//   grid-area: 4 / 1 / 5 / 13;
//   @include bg-strip(-5deg, 45%, 60%, $yellow);
// }

.history {
  grid-area: 6 / 2 / 8 / 10;
  padding: 10rem 1rem;

  h2 {
    font-size: 2.5rem;
    color: $green;
  }

  p {
    font-family: $subheading-font;
    font-size: 1.5rem;
  }
}

.bakery {
  @extend %cake;
  grid-area: 7 / 10 / 8 / 12;
  transform: rotate(15deg);
  @include img-shadow($green);
}

.menu {
  grid-area: 9 / 1 / 11 / 13;
  background-color: $pink;
  display: flex;
  flex-flow: row wrap;
}

.menu-header {
  grid-area: 9 / 4 / 10 / 10;
  z-index: 2;
  text-align: center;
  transform: translateY(-60%);
  text-shadow: 3px 5px $blue;
  font-family: $menu-header-font;
  font-size: 4rem;
}

.category {
  max-width: 50%;
  margin: 3rem auto 0 auto;
  border-spacing: 3rem 2rem;
  
  thead tr {
    td {
      font-size: 2.4rem;
    }

    .heading {
      font-size: 1.2rem;
      color: black;
      text-align: right;
    }

    td:nth-child(1) {
      text-align: left;
    }
  }

  tbody tr {
    .item {
      font-size: 1.6rem;
      font-family: $subheading-font;
      text-align: left;
      color: white;
      letter-spacing: 3px;
    }

    td {
      text-align: right;
      vertical-align: middle;
      font-size: 1.4rem;
      color: $yellow;
      font-family: $item-font-stack;
    }
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}